*.egg
*.egg-info
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
.*.swp
.coverage
.tox/
nosetests.xml
pyramid/coverage.xml
tutorial.db
_build/
dist/
bin/
lib/
include/
.idea/
distribute-*.tar.gz
bookenv/
jyenv/
pypyenv/
env*/
venv/
local.ini
